/*basic layout*/
html{
    font-size: 10px;
}

/*header*/
.header{
    display:flex;
    margin-bottom: 10px;
}

header img{
    display : block;
    height : 60px;
    padding-top : 20.15px;
}

/*body*/



/*flex image to the side*/
